:root {
  --main-text-color: #262626;
  --second-text-color: #bbbec5;
  --second-bg-color: #30b92b;
}

.topbar {
    width: 100%;
    height: 100px;
}

.topbar-int {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 130px;
}

.menu {
    list-style: none;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu li {
    display: inline-block;
    line-height: 100px;
    margin-right: 20px;
    font-weight: bold;
}

.menu li a:hover {
    color: green;
    transition: .3s;
}

.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-area a {
    margin-right: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item {
    margin-bottom: 30px;
    margin-right: 20px;
    width: 18rem;
}

/*Estilos do rodapé da página*/
.footer {
    margin-top: 20px;
    background-color: #93AF00;
    color: #FFF;
}

.footer-int {
    height: 300px;
}

.footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

/*Estilos do modal de login e cadastro*/
.login-modal {
    width: 100%;
    max-width: 400px;
    height: 500px;
    position: absolute;
    background-color: #FFF;
    border: solid 1px #93AF00;
    z-index: 99;
    top: 100px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.cadastro-modal {
    width: 100%;
    max-width: 400px;
    height: 600px;
    position: absolute;
    background-color: #FFF;
    border: solid 1px #93AF00;
    z-index: 99;
    top: 100px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.close-bt {
    margin-top: -10px;
    margin-left: 335px;
}

.slide {
    margin-top: 50px;
}

.content-int {
    margin-top: 50px;
    text-align: center;
}

#messageError {
    position: absolute;
    top: 8%;
}

#messageSuccess {
    position: absolute;
    top: 8%;
}

.login-body {
    background-image: url("http://localhost:8080/assets/media/images/background.jpg");
}

.login-box {
    width:100%;
    max-width:500px;
}
---------------------------------------------------

<! ----- style1 ---->



.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-color: rgb(232, 247, 237);
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: red;
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }