<footer class="footer">
    <div class="container">
        <div class="footer-int">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footer-left">

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="footer-center">
                        <h6>Ever Pizzas - Todos os direitos reservados</h6>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="footer-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>