<!doctype html>
<html xmlns:th="http://thymeleaft.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ever Pizzas</title>
    <link rel="stylesheet" href="http://localhost:8080/assets/css/style.css">
    <link rel="stylesheet" href="http://localhost:8080/assets/css/bootstrap.min.css">
    <script src="http://localhost:8080/assets/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/44922e80c2.js" crossorigin="anonymous"></script>
    <script src="http://localhost:8080/assets/js/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:8080/assets/js/script.js"></script>
</head>

<body>

<div class="topbar">
    <div class="topbar-int container">

        <div class="logo-area">
            <a href="http://localhost:8080"><img class="logo" src="assets/media/images/logo.png"></a>
        </div>

        <nav class="menubar">
            <ul class="menu">
                <li><a href="/">INÌCIO</a></li>
                <li><a href="/cardapio">CARDAPIO</a></li>
                <li><a href="/sobre">SOBRE</a></li>
            </ul>
        </nav>
        <div class="login-area">
            <a class="btn btn-success" href="/login">Login</a>
            <a class="btn btn-success" href="/cadastrar">Cadastrar</a>
        </div>
    </div>
</div>
</div>