<th:block th:include="admin/partials/header"></th:block>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-title fs-1">Pedidos Recebidos</div>
            <h2 class="fs-5">Pedido de Renato Sanches</h2>
            <h3 class="fs-6">Descrição</h3>
            <ul class="list-inline">
                <li>01 EVER CALABRESA</li>
                <li>01 EVER ESFIHA </li>
                <li>01 COCA-COLA 2L</li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-danger dropdown-toggle fs-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    ...
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#"><i class="fas fa-check"></i> Pedido Recebido</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-exclamation-triangle text-warning"></i> Pedido Enviado</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-check-double text-primary"></i> Pedido Finalizado</a></li>
                </ul>
                <br>
                <br>
                <h2 class="fs-6">Status do Pedido</h2>
                <ul>
                    <li class="list-group-item list-group-item-success"><i class="fas fa-check"></i> Pedido Recebido</li>
                    <li class="list-group-item list-group-item-warning"><i class="fas fa-exclamation-triangle text-warning"></i> Pedido Enviado</li>
                    <li class="list-group-item list-group-item-secondary"><i class="fas fa-check-double text-primary"></i> Pedido Finalizado</li>
                </ul>
            </div>

        </div>
    </div>
</div>
</body>
</html>