<th:block th:include="admin/partials/header"></th:block>

    <div class="container">
        <div class="row">

            <div class="seedstarterlist">

                <h2>Lista de Pedidos Finalizados</h2>

                <table class="table bg-white table-hover rounded shadow-sm text-center justify-content-center">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Pedido</th>
                            <th scope="col">Tipo de Pagamento</th>
                            <th scope="col">Total</th>
                            <th scope="col">Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pedido : ${pedidos}">
                            <td>Pedido #<span th:text="${pedido.id}"></span></td>
                            <td th:text="${pedido.tipoPagamento}"></td>
                            <td>R$<span th:text="${pedido.total}"></span></td>
                            <td>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" th:data-bs-target="@{#ModalDetalhes{id}(id=${pedido.id})}">Detalhes do Pedido</button>

                                <div class="modal fade" th:id="@{ModalDetalhes{id}(id=${pedido.id})}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Detalhes do Pedido</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="seedstarterlist">
                                                    <table class="table table-hover rounded shadow-sm">
                                                        <thead class="table-dark text-center justify-content-center">
                                                            <tr>
                                                                <th scope="col">Pedido</th>
                                                                <th scope="col">Tipo de Pagamento</th>
                                                                <th scope="col">Total</th>
                                                                <th scope="col">Produto</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Pedido #<span th:text="${pedido.id}"></span></td>
                                                                <td th:text="${pedido.tipoPagamento}"></td>
                                                                <td>R$<span th:text="${pedido.total}"></span></td>
                                                                <tr th:each="p : ${pedido.produto}">
                                                                    <td th:text="${p.nomeProduto}"></td>
                                                                </tr>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="assets/js/bootstrap.bundle.js"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
</body>


</html>