<th:block th:include="admin/partials/header"></th:block>
    <div class="container">
        <div class="card" th:each="pedido : ${pedidos}">
            <div class="card-body">
                <div class="card-title fs-1">Pedido #<span th:text="${pedido.id}"></span></div>
                <ul class="list-inline" th:each="p : ${pedido.produto}">
                    <li th:text="${p.nomeProduto}"></li>
                </ul>
                <div class="dropdown">

                    <form action="/admin/pedidos-recebidos/finalizar" class="mb-3" method="POST">
                        <input type="text" name="id" th:value="${pedido.id}" hidden>
                        <button class="btn btn-info" type="submit">Finalizar</button>
                    </form>

                    <h2 class="fs-6">Status do Pedido</h2>
                    <ul>
                        <li class="list-group-item list-group-item-success" th:text="${pedido.statusPedido}"><i class="fas fa-check"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>