<th:block th:include="cliente/partials/header"></th:block>

<div class="container d-flex">
    <div class="col-md-6">
        <img src="http://localhost:8080/assets/media/images/logo.png">
    </div>
    <div class="col-md-6">
        <h2 class="fs-3">Nossa História</h2>
        <p class="lead">Com um novo conceito, a Ever Pizzaria surgiu para oferecer a melhor experiência em pizza para seus clientes . A Ever pizzaria chegou para revolucionar o segmento de pizzarias, com uma entrega ágil e segura, garantimos o sabor inigualável de nossos produtos, com um armazenamento adequado durante o transporte para sua pizza chegar quente e extremamente saborosa
            Queremos levar não só uma pizza até você e sim, uma obra de arte!!</p>
    </div>
</div>
<th:block th:include="cliente/partials/footer"></th:block>