<!DOCTYPE html>
<html xmlns:th="http://thymeleaft.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS & Fontawesome ===== -->
    <link href="http://localhost:8080/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://localhost:8080/assets/css/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/44922e80c2.js" crossorigin="anonymous"></script>

    <title>Ever Pizzas</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><img
                    src="assets/media/images/logo.png" class="img-thumbnail img-fluid" height="100px"
                    width="100px"></div>
            <div class="list-group list-group-flush my-3">
                <a href="http://localhost:8080/admin" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fa-solid fa-house"></i> Home</a>
                <a href="http://localhost:8080/produtos" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-shopping-cart"></i> Produtos</a>
                <a href="http://localhost:8080/pedidos" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-list-alt"></i> Pedidos</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-sign-out-alt"></i> Sair</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Menu</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>Breno Borges
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Perfil</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-screwdriver-wrench"></i>
                                        Configurações</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i>Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                  <div class="col-md-6 float-end text-end">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modalone"><i class="fa-solid fa-plus"></i> Adicionar</button>
                      </div>
                    </div> 
            </div>
                    <div>

                        <h2>Lista de Produtos</h2>

                        <table class="table bg-white table-hover rounded shadow-sm text-center justify-content-center">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Preço</th>
                                    <th scope="col">Ações</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Pizza</th>
                                    <td>Ever Calabresa</td>
                                    <td>Massa, Molho, Calabresa, Cebola</td>
                                    <td>35,00</td>
                                    <td>
                                      <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#Modaltwo"><i class="fa-solid fa-pen-to-square"></i> Editar</button>
                        <button type="button" class="btn btn-danger"><i class="fa-solid fa-square-minus"></i> Delete</button>
                                    </td>
                            </tbody>
                        </table>
                    </div>
                </div>
              
              <!-- Modal1 -->
              <div class="modal fade" id="Modalone" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Adicionar Produtos</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form class="form-group" method="post" action="http://localhost:8080/produtos/cadastroProduto">

                      <select class="form-select" name="tipoProduto">
                          <option value="PIZZA">PIZZA</option>
                          <option value="BEBIDA">BEBIDA</option>
                          <option value="ESFIHA">ESFIHA</option>
                      </select>

                      <br>
                      <input class="form-control" type="text" name="nome" placeholder="Nome" aria-label="default input example">
                      <br>
                      <input class="form-control" type="text" name="descricao" placeholder="Descrição" aria-label="default input example">
                      <br>
                      <input class="form-control" type="text" name="preco" placeholder="R$" aria-label="default input example">
                      <br>
                      <button type="submit" class="btn btn-success" >Enviar</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal2 -->

              <div class="modal fade" id="Modaltwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


                        <script src="assets/js/bootstrap.bundle.js"></script>
                        <script>
                            var el = document.getElementById("wrapper");
                            var toggleButton = document.getElementById("menu-toggle");

                            toggleButton.onclick = function () {
                                el.classList.toggle("toggled");
                            };
                        </script>
</body>

</html>